<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xw.atcrowdfunding.manager.dao.ReturnMapper" >
  <resultMap id="BaseResultMap" type="com.xw.atcrowdfunding.bean.Return" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="projectid" property="projectid" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="supportmoney" property="supportmoney" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="signalpurchase" property="signalpurchase" jdbcType="INTEGER" />
    <result column="purchase" property="purchase" jdbcType="INTEGER" />
    <result column="freight" property="freight" jdbcType="INTEGER" />
    <result column="invoice" property="invoice" jdbcType="CHAR" />
    <result column="rtndate" property="rtndate" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_return
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xw.atcrowdfunding.bean.Return" >
    insert into t_return (id, projectid, type, 
      supportmoney, content, count, 
      signalpurchase, purchase, freight, 
      invoice, rtndate)
    values (#{id,jdbcType=INTEGER}, #{projectid,jdbcType=INTEGER}, #{type,jdbcType=CHAR}, 
      #{supportmoney,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}, 
      #{signalpurchase,jdbcType=INTEGER}, #{purchase,jdbcType=INTEGER}, #{freight,jdbcType=INTEGER}, 
      #{invoice,jdbcType=CHAR}, #{rtndate,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xw.atcrowdfunding.bean.Return" >
    update t_return
    set projectid = #{projectid,jdbcType=INTEGER},
      type = #{type,jdbcType=CHAR},
      supportmoney = #{supportmoney,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER},
      signalpurchase = #{signalpurchase,jdbcType=INTEGER},
      purchase = #{purchase,jdbcType=INTEGER},
      freight = #{freight,jdbcType=INTEGER},
      invoice = #{invoice,jdbcType=CHAR},
      rtndate = #{rtndate,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, projectid, type, supportmoney, content, count, signalpurchase, purchase, 
    freight, invoice, rtndate
    from t_return
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, projectid, type, supportmoney, content, count, signalpurchase, purchase, 
    freight, invoice, rtndate
    from t_return
  </select>
</mapper>