<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xw.atcrowdfunding.potal.dao.TicketMapper" >
  <resultMap id="BaseResultMap" type="com.xw.atcrowdfunding.bean.Ticket" >
    <id column="id" property="id"/>
    <result column="memberid" property="memberid"/>
    <result column="piid" property="piid"/>
    <result column="status" property="status"/>
    <result column="authcode" property="authcode"/>
    <result column="pstep" property="pstep"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_Ticket
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="saveTicket" parameterType="com.xw.atcrowdfunding.bean.Ticket" >
    insert into t_Ticket (memberid, status, pstep)
    values (#{memberid},#{status},#{pstep})
  </insert>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select *
    from t_Ticket
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select *
    from t_Ticket
  </select>

  <select id="getTicketByMemberId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select *
    from t_Ticket
    where memberid = #{memberid,jdbcType=INTEGER} and status = '0'
  </select>

  <update id="updatePstep">
    update t_ticket set
     pstep = #{pstep}
     where memberid = #{memberid} and status = '0'
  </update>

  <update id="updatePiidAndPstep">
    update t_ticket set
     pstep = #{pstep}, authcode = #{authcode}, piid = #{piid}
     where id = #{id}
  </update>

  <select id="getMemberByPiid" resultType="Member">
    SELECT t_member.* FROM t_member JOIN t_ticket
     ON t_member.id = t_ticket.memberid
     WHERE t_ticket.piid = #{piid};
  </select>

  <update id="updateStatus">
    update t_ticket set
     status = '1'
     where memberid = #{id} and status = '0'
  </update>

</mapper>